@font-face {
    font-family: 'Oswald';
    src: url('../fonts/Oswald-Regular.ttf') format('truetype');
}

* {
    font-family: 'Oswald', sans-serif;
}

html {
    height: 100%;
}

body {
    margin: 0;
    background-color: #0D262D;
    color: #fff;
    height: 100%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
}

button {
    text-transform: uppercase;
    font-weight: bold;
    width: 200px;
    height: 60px;
    padding: 10px;
    color: black;
    font-size: 24px;
    background: goldenrod;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    text-align: center;
}